@use "../variables" as *;

.carousel {
  max-width: 98vw;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__container {
    display: flex;
    gap: 12px;

    overflow-x: scroll;
    overflow-y: hidden;

    scrollbar-width: thin;
    scrollbar-color: #888 transparent;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg, #555, #999);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(90deg, #444, #777);
    }
  }

  &__item {
    min-width: 140px;

    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      border-radius: 5px;
    }

    p {
      font-size: 0.9rem;
      color: $nav-bg;
    }
  }
}